@font-face {
    font-family: 'Axiforma-Light';
    src: url(./Fonts/Axiforma-Light.ttf);
}
@font-face {
    font-family: 'Axiforma-Regular';
    src: url(./Fonts/Axiforma-Regular.ttf);
}
@font-face {
    font-family: 'Axiforma-Semibold';
    src: url(./Fonts/Axiforma-SemiBold.ttf);
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb{
    background-color: #AFFA1B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* <======================================== Navbar Styling ========================================> */

nav{
    width: 100vw;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-family: 'Axiforma-Regular';
    position: relative;
    top: -200px;
    z-index: 50;
}
nav .navlogo img{
    transform: scale(0.90);
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: .3s linear;
}
nav ul li a:hover{
    color: #AFFA1B;
}
nav ul li:nth-child(4) a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding-top: 0.70rem;
    overflow: hidden;
    height: 50px;
    background-color: #AFFA1B;
    color: black;
    border-top-left-radius: 35px;
}
nav ul li:nth-child(4) a:hover{
    color: #3b5900;
}

/* <======================================== Herobox Styling ========================================> */

.herobox{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin-top: -100px;
    position: relative;
    overflow: hidden;
}
.hero-Image{
    width: 100%;
    height: 100%;
    position: absolute;
}
.hero-Image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 22%;
}
.hero-Image::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(28,27,27);
    background: linear-gradient(90deg, rgba(28,27,27,1) 0%, rgba(0,0,0,1) 68%);
    position: absolute;
    z-index: 48;
    opacity: 20%;
}
.herobox h1{
    position: absolute;
    z-index: 60;
    color: white;
    top: 30%;
    left: -100%;
    font-family: 'Axiforma-Semibold';
    font-size: 4rem;
    width: 40%;
    line-height: 80px;
}
.herobox p{
    color: white;
    position: absolute;
    z-index: 60;
    font-family: 'Axiforma-Light';
    font-size: 1.4rem;
    width: 45%;
    top: 58%;
    left: 50px;
    opacity: 0%;
}
.herobox a.herobox-btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AFFA1B;
    width: 150px;
    height: 55px;
    text-decoration: none;
    color: black;
    position: absolute;
    z-index: 60;
    border-top-left-radius: 35px;
    top: 80%;
    opacity: 0%;
    left: 50px;
    font-family: 'Axiforma-Regular';
    font-size: 18px;
}
.herobox a.herobox-btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #354710;
    width: 150px;
    height: 55px;
    text-decoration: none;
    color: white;
    position: absolute;
    z-index: 60;
    top: 80%;
    opacity: 0%;
    left: 200px;
    font-family: 'Axiforma-Regular';
    font-size: 18px;
    transition: .3s ease;
}
.herobox a.herobox-btn-2:hover{
    background-color: #AFFA1B;
    color: black;
}
.herobox a.herobox-btn-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    width: 180px;
    height: 55px;
    text-decoration: none;
    color: white;
    position: absolute;
    z-index: 60;
    top: 80%;
    opacity: 0;
    left: 30%;
    font-family: 'Axiforma-Regular';
    font-size: 18px;
    transition: .3s ease;
}
.herobox a.herobox-btn-3:hover{
    background-color: white;
    color: black;
}
.herobox-members{
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 60;
    top: 75%;
    overflow: visible;
    right: 60px;
}
.herobox-members .member{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    overflow: hidden;
    right: 0%;
    opacity: 0;
    cursor: pointer;
}
.herobox-members .member img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herobox-members .member:nth-child(2){
    right: 10%;
}
.herobox-members .member:nth-child(3){
    right: 22%;
}
.herobox-members .member:nth-child(4){
    right: 32%;
}
.herobox-members .member:nth-child(5){
    right: 42%;
}
.herobox-members h2{
    color: white;
    position: absolute;
    top: 45%;
    font-size: 30px;
    font-family: 'Axiforma-Light';
    right: 35%;
    opacity: 0%;
}
.herobox-members h4{
    color: white;
    font-family: 'Axiforma-Regular';
    position: absolute;
    top: 72%;
    right: 18%;
    opacity: 0%;
}


/* <======================================== Section 1 Styling ========================================> */

.section1{
    width: 100%;
    height: 150vh;
    background-color: black;
    position: relative;
}
.top-gradient{
    width: 100%;
    height: 20%;
    background: rgb(27,27,27);
    background: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
}
h1.main-heading{
    color: white;
    font-family: 'Axiforma-Semibold';
    font-size: 3rem;
    width: 30%;
    position: absolute;
    left: -25rem;
    top: 5rem;
}
p.sub-heading{
    color: white;
    font-family: 'Axiforma-Light';
    width: 33%;
    font-size: 1.2rem;
    position: absolute;
    top: 6rem;
    right: -35rem;
}
.mockups{
    width: 95%;
    height: 55%;
    position: absolute;
    left: 2.5rem;
    bottom: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
.mockup1{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.mockup1 .icon{
    width: 6rem;
    height: 6rem;
    background-color: #AFFA1B;
    border-bottom-right-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0%;
}
.mockup1 .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.50);
    position: absolute;
    left: -10px;
    top: -10px;
}
.mockup1 .main-image{
    width: 100%;
    height: 65%;
    background-color: black;
    position: absolute;
    top: 0%;
    right: 0%;
    border-top-left-radius: 280px;
    overflow: hidden;
    opacity: 0%;
}
.mockup1 .main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.mockup1 .main-image img:hover{
    transform: scale(1.2);
}
.mockup1 h1{
    color: white;
    font-family: 'Axiforma-Semibold';
    position: absolute;
    bottom: -6%;
    opacity: 0%;
    font-size: 2.5rem;
}
.mockup1 p{
    color: white;
    font-family: 'Axiforma-Light';
    position: absolute;
    bottom: -15%;
    opacity: 0%;
    right: 0%;
    width: 60%;
}
.mockup2{
    width: 15%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.mock-2{
    top: 20%;
    opacity: 0%;
}

.mock-3{
    top: 20%;
    opacity: 0%;
}
.mock-4{
    top: 20%;
    opacity: 0%;
}
.mockup2 .icon{
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-bottom-right-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 90;
}
.mockup2 .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.50);
    position: absolute;
    left: -10px;
    top: -10px;
}
.mockup2 img.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 50;
}
.mockup2 img.background-image:hover{
    transform: scale(1.2);
}
.mockup2 .background-gradient{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6979166666666667) 100%);
    position: absolute;
    top: 0%;
    left: 0%;
}
.mockup2 h1{
    color: white;
    position: absolute;
    font-family: 'Axiforma-Regular';
    transform: rotate(-90deg);
    font-size: 3rem;
    top: 50%;
    right: -80%;
    width: 200%;
    z-index: 50;
    pointer-events: none;
}
.mockups .mockup2:nth-child(3) .icon img{
    transform: scale(0.70);
}
.mockups .mockup2:nth-child(4) .icon img{
    transform: scale(0.70);
}

/* <======================================== Section 2 Styling ========================================> */

.section2{
    width: 100%;
    height: 80vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.section-2-heading-group{
    width: 40%;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 2%;
}
.section-2-heading-group h1{
    color: white;
    font-family: 'Axiforma-Semibold';
    font-size: 3rem;
    transform: translateX(-70%);
}
.section-2-heading-group p{
    color: white;
    font-family: 'Axiforma-Light';
    font-size: 1.1rem;
    transform: translateX(-100%);
}
.section-2-heading-group i{
    color: white;
    font-size: 2.5rem;
    overflow: hidden;
    opacity: 0;
}
.section-2-heading-group i.fa-chevron-left{
    position: absolute;
    top: 65%;
}
.section-2-heading-group i.fa-chevron-right{
    position: absolute;
    top: 65%;
    left: 10%;
}
.section-2-carousel{
    width: 60%;
    height: 250px;
    position: absolute;
    left: -20%;
    transform: translateX(-100%);
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide-1{
    width: 48%;
    height: 100%;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
}
.slide-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-2-mockup{
    width: 45%;
    height: 550px;
    position: absolute;
    right: 2%;
    top: 10%;
    overflow: hidden;
}

.mockup-image-section-2{
    width: 100%;
    height: 70%;
    background-color: white;
    border-top-right-radius: 300px;
    overflow: hidden;
    opacity: 0%;
    transform: translateY(30%);
}
.mockup-image-section-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-2-mockup-icon{
    width: 15%;
    height: 15%;
    background-color: #AFFA1B;
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: 0%;
    border-bottom-left-radius: 150px;
    overflow: hidden;
}
.section-2-mockup-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.40);
    position: absolute;
    left: 10%;
    top: -5%;
}
.section-2-mockup p{
    color: white;
    font-family: 'Axiforma-Light';
    font-size: 1rem;
    position: absolute;
    bottom: 3%;
    opacity: 0%;
    transform: translateY(100%);
}

/* <!-- <============================================== Section 3 Coded Here ==========================================> --> */

.section3{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.section3 h1{
    color: white;
    font-family: 'Axiforma-Regular';
    position: absolute;
    top: 15%;
    left: 2%;
    width: 30%;
    opacity: 0%;
    transform: translateX(-100%);
}
.section3 p{
    color: white;
    font-family: 'Axiforma-Light';
    position: absolute;
    right: 2%;
    top: 15%;
    width: 45%;
    transform: translateX(100%);
    opacity: 0%;
}
.section3-slider{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 15%;
    overflow: visible;
}
.section-3-slides-group{
    width: 150%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: -13%;
    overflow: visible;
}
.slide-1-section3{
    width: 15%;
    height: 100%;
    background-color: #1b1b1b;
    position: relative;
    overflow: visible;
    opacity: 0%;
    transform: translateY(40%);
}
.slide-1-section3 img{
    position: absolute;
    top: -90%;
    transform: scale(0.60);
    pointer-events: none;
}
.slide-1-section3:nth-child(3) img{
    position: absolute;
    top: -50%;
    left: -10%;
    transform: scale(0.60);
}
.slide-1-section3:nth-child(4) img{
    position: absolute;
    top: -60%;
    left: -10%;
    transform: scale(0.60);
}

/* <!-- <============================================== Section 4 Coded Here ==========================================> --> */

.section4{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.section4::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 53%, rgba(43,43,43,0) 100%);
    position: absolute;
    z-index: 5;
}
.section4 img{
    width: 50%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    right: 0%;
}
.section4 h1{
    color: white;
    position: absolute;
    z-index: 6;
    font-family: 'Axiforma-Semibold';
    width: 30%;
    top: 35%;
    left: 2%;
    transform: translateY(80%);
    opacity: 0%;
}
.section4 a.section4-btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AFFA1B;
    text-decoration: none;
    color: #1b1b1b;
    border-top-left-radius: 50px;
    position: absolute;
    z-index: 6;
    font-family: 'Axiforma-Regular';
    width: 150px;
    height: 50px;
    left: 2%;
    top: 60%;
    transform: translateY(80%);
    opacity: 0%;
}
.section4 a.section4-btn1:nth-child(4){
    left: 15%;
    border-top-left-radius: 0px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    opacity: 0;
}
.links{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}
.links a{
    color: white;
    text-decoration: none;
    font-family: 'Axiforma-Regular';
}
.terms{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.terms a{
    color: white;
    font-family: 'Axiforma-Regular';
}